# Dependencies
node_modules/

# Build outputs
dist/
build/
release/

# IDE
.vscode/
.idea/

# Environment
.env
*.env.local

# Database
*.db
*.sqlite

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Source code
src.zip
client/src.zip

#cache
*.cache

bugs.txt